<head>
  <link rel="stylesheet" href="/css/generalStyles.css" />
</head>

<h1 class="title">Registro</h1>

<div class="formBody">
  <form action="/api/sessions/register" method="POST">
    <label for="first_name">Nombre</label><br />
    <input type="text" id="first_name" name="first_name" id="first_name" /><br
    />

    <label for="last_name">Apellido</label><br />
    <input type="text" id="last_name" name="last_name" id="last_name" /><br />

    <label for="email">Email</label><br />
    <input type="email" id="email" name="email" id="email" /><br />

    <label for="age">Edad</label><br />
    <input type="number" id="age" name="age" id="age" /><br />

    <label for="password">Password</label><br />
    <input type="password" id="password" name="password" id="password" /><br />

    <label for="repeat_password">Confirmar Password</label><br />
    <input type="password" id="repeat_password" name="repeat_password" /><br />

    <label for="cart">Cart</label><br />
    <input type="number" id="cart" name="cart" id="cart" /><br />

    <label for="role">Role</label><br />
    <input type="text" id="role" name="role" id="role" /><br /><br />

    <button class="submitButton" type="submit">Registrarme</button>
  </form>
  <div>
    ¿Ya tienes cuenta?
    <a href="/login">
      <button class="redirectButton">
        Ir a Login
      </button>
    </a>
  </div>
</div>