<head>
  <link rel="stylesheet" href="/css/generalStyles.css" />
</head>

<h1 class="title">Restaurar contraseña</h1>

<div class="formBody">

  <form action="/api/sessions/restore-password" method="POST">
    <label for="email">Email</label><br />
    <input type="email" id="email" name="email" id="email" /><br />

    <label for="password">Nueva contraseña</label><br />
    <input type="password" id="password" name="password" id="password" /><br />
    <label for="password">Repetir nueva contraseña</label><br />
    <input
      type="password"
      id="repeat_password"
      name="repeat_password"
      id="password"
    /><br /><br />
    <button class="submitButton" type="submit">Restaurar contraseña</button>
  </form>

  ¿Ya tienes cuenta?

  <a href="/login">
    <button class="redirectButton">
      Ir a Login
    </button>
  </a>
</div>