<head>
  <link rel="stylesheet" href="/css/generalStyles.css" />
</head>

<div style="text-align: center; color: black; font-family: Arial, sans-serif;">
  <h1 class="title">
    ¡Bienvenido
    {{first_name}}
    {{last_name}}!
  </h1>

  <a href="/profile">
    <Button class="redirectButton">
      ir a mi perfil
    </Button>
  </a>
</div>